.heroText {
    color: var(--text-color );
}

.heroFunctions {
    display: flex;
    align-items: center;
    margin-top: 10px;
    align-content: center;
}

#url {
    font-family: Inter, monospace;
    width: 25%;
    height: 3.5vh;
    padding: 0.5rem 0.5rem;
    cursor:text;

    &:focus {
        outline: none;
    }
}

.heroButton {
    background: none;
    border: 1.5px solid var(--text-color);
    padding: 0.2rem;
    border-radius: 15px;
    margin-left: 1rem;
    cursor: pointer;

    & :hover {
        border-color: black;
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }

    svg {
        width: 1.3rem;
        height: 1.3rem;
        color: #5c5c5c;
        transition: color 0.3s ease;
    }

    &:hover svg {
        color: black;
    }
}
