.headerTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

header {
  padding: 3rem 0 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 750px;
}
